<%-include('partials/header.ejs')  %>
<main class="bg-body-tertiary">
  <div class="container mb-4" style="max-width: 960px;">
      <div class="py-5 mb-5 text-center">
        <i class="bi bi-arrow-through-heart-fill mb-4 display-1 text-danger"></i>
        <h1 class="display-3 fw-bold ">Start creating!</h1>
        <p class="lead fs-4 d-none d-sm-block ">Making blogs is quick and easy! Simply add a title, upload a thumbnail, and write your content using our user-friendly editor. In just a few steps, your blog is ready to share. Start writing today!</p>

        <p class="lead fs-6 d-sm-none ">Making blogs is quick and easy! Simply add a title, upload a thumbnail, and write your content using our user-friendly editor. In just a few steps, your blog is ready to share. Start writing today!</p>
      </div>
      <form id="new-blog" class="needs-validation flex-grow-1 d-flex flex-column">
        <div class="row">
          <div class="col-md-4 order-md-2 mb-4">
            <h4 class="text-muted mb-3">Design selector</h4>
            <ul class="list-group mb-3">
              <li class="list-group-item d-flex justify-content-between bg-light" data-design ='modern'>
                <div class="text-primary">
                  <h6 class="my-0">Modern</h6>
                  <small>Sleek, minimal, bold, clean.</small>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-condensed hover-effect" data-design ='retro'>
                <div>
                  <h6 class="my-0">Retro</h6>
                  <small class="text-muted">Nostalgic and vintage aesthetics.</small>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-condensed hover-effect" data-design="subtle">
                <div>
                  <h6 class="my-0">Subtle</h6>
                  <small class="text-muted">Soft, elegant, and muted tones.</small>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-condensed hover-effect" data-design="magazine">
                <div>
                  <h6 class="my-0">Magazine</h6>
                  <small class="text-muted">Grid-based and structured.</small>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <span>Design</span>
                <strong></strong>
              </li>
            </ul>
          </div>
          <div class="col-md-8 order-md-1 d-flex flex-column mb-5">
            <h4 class="mb-3">Heading</h4>
              <div class="mb-3">
                <label for="title">Title <span class="text-muted">(Required)</span></label>
                <input class="form-control" name="title" id="title" maxlength="50" placeholder="The way cats see the world">
                <small class="text-danger" data-field = 'title'></small>
              </div>
              <div class="img-upload bg-light-subtle d-flex align-items-center flex-column justify-content-center  flex-grow-1 rounded border border-secondary-subtle p-5">
                <i class="bi bi-card-image fs-1 text-secondary"></i>
                <div class="file-name-wrap position-relative">
                    <i class="bi bi-check fs-4 d-none text-success position-absolute" style="transform: translateY(-6px); left: 0;top:0;"></i>
                    <p id="file-content" class="small text-secondary d-inline">Thumbnail</p>
                </div>
                <input class="form-control w-auto" type="file" id="formFile" accept="image/*" name="thumbNail">
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <small class="text-danger" data-field = 'content'></small>
            <div class="h-auto" style=" min-height: 25em;" id="editor">
            </div>
            <small class="text-muted disclaimer">Magazine pictures width and wraping are random.</small>
            <hr class="mb-4">
            <button  class="btn btn-primary btn-lg" type="submit">Create</button>
            <button class="btn btn-outline-primary btn-lg" id="get-html-btn" type="button" data-bs-toggle="modal" data-bs-target="#previewModal">Preview</button>
          </div>
        </div>
      </form>
    </div>
</main>
<div class="modal fade" id="previewModal" tabindex="-1" aria-labelledby="previewModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" >
    <div class="modal-content" >
      <div class="modal-body p-0" >
        <iframe id="previewFrame" class="w-100 border-0" style="height: 800px"></iframe>
      </div>
    </div>
  </div>
</div>
<%-include('partials/footer.ejs')  %>