@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Outfit:wght@100..900&display=swap');

.default-font{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

.default-font h1, h2, h3, h4, h5, h6{
    line-height: 1em;
    font-weight: 700;
}

.default-font p{
    font-weight: 400;
    color: rgb(100, 100, 100);
    line-height: 1.325em;
}


.fancy-font {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

.max-width{
    max-width: 800px
}
img{
    width: 100%;
    object-fit: cover;
    max-height: 600px;
    margin: 1em 0
}

.thumbnail-container{
    display: none;
}

.background{
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 60vh;
}

.heading{
    background-color: rgba(236, 215, 250, 0.233);
    border-top-left-radius: 5em;
    border-bottom-right-radius: 5em;
    max-width: 800px;
}

.heading p{
    font-size: clamp(0.75rem, 0.6019rem + 0.7407vw, 1.25rem);
    opacity: 85%;
}

.text-shadow {
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
  }

.btn-outline-success{
    border-color: rgb(255, 115, 0);
    color:rgb(255, 115, 0) ;
}

.btn-outline-success:active{
    background-color: rgb(255, 115, 0) !important;
    border-color:rgb(255, 140, 0) !important;
}

.btn-outline-success:hover{
    background-color: rgb(255, 115, 0);
    border-color:rgb(255, 140, 0) ;
}

.filter{
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 0px 400px 100px rgb(0, 0, 0);
}

.container *{
    overflow-wrap: break-word !important;
    white-space: normal;
    word-break: keep-all;
}

.container p{
    font-size: clamp(1.3rem, 0.3333rem + 2.0833vw, 1.375rem);
}


@media(max-width:992px){
    .container{
        max-width: 600px;
    }
    .background{
        min-height: 40vh;
    }
}

@media(max-width:768px){
    .background{
        height: auto;
    }
    img{
        max-height: 400px;
    }
}

@media(min-width:420px){
    .container h1{
        font-size: clamp(1.5rem, 0rem + 7.5vw, 3.75rem);
    }
    
    .container h2{
        font-size: clamp(1.25rem, -0.0833rem + 6.6667vw, 3.25rem);
    }
    
    .container h3{
        font-size: clamp(1.125rem, -0.125rem + 6.25vw, 3rem);
    }
    
    .container h4{
        font-size: clamp(1rem, -0.0833rem + 5.4167vw, 2.625rem);
    }
    
    .container h5{
        font-size: clamp(0.875rem, -0.0417rem + 4.5833vw, 2.25rem);
    }
    
    .container h6{
        font-size: clamp(0.75rem, -0.0833rem + 4.1667vw, 2rem);
    }
    
}

@media (max-width: 390px) {
    img{
        max-height: 300px ;
    }
}