@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Didact+Gothic&display=swap');
@property --background {
    syntax: "<color>";
    inherits: true;
    initial-value: transparent;
}

.default-font{
    font-family: "Didact Gothic", sans-serif;
    font-style: normal;
  }

.default-font h1, h2, h3, h4, h5, h6{
    line-height: 1em;
    font-weight: bolder;
}

.default-font p{
    font-weight: 400;
    color: rgb(42, 42, 42);
    line-height: 1.325em;
}

.fancy-font {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

.max-width{
    max-width: 800px;
    max-height: 70%;
    overflow-y: auto;
    border: 2px dashed #4a4a4a;
    padding-left: 2em !important;
    padding-right: 2em !important;
    margin: auto !important;
    transition: --background 0.3s ease-in-out;

}

.max-width::-webkit-scrollbar {
    width: 5px;
}

.max-width::-webkit-scrollbar-track {
    background-color: var(--background);
}

.max-width::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #777;
    background: linear-gradient(0deg, #777, #3a3a3a);
    cursor: pointer;
}

img{
    width: 100%;
    object-fit: cover;
    max-height: 600px;
    margin: 1em 0
}  

.background>.filter>nav+div {
    display: none !important;
}

.btn-outline-success{
    border-color: rgb(255, 115, 0);
    color:rgb(255, 115, 0) ;
}

.btn-outline-success:active{
    background-color: rgb(255, 115, 0) !important;
    border-color:rgb(255, 140, 0) !important;
}

.btn-outline-success:hover{
    background-color: rgb(255, 115, 0);
    border-color:rgb(255, 140, 0) ;
}

.filter{
    background-color: transparent;
}

.background{
    background-color: transparent !important;
    margin-bottom: 0 !important;
}

.footer{
    margin-top: 0 !important;
}

.navbar-dark{
    --bs-navbar-color: rgba(29, 29, 29, 0.55);
    --bs-navbar-hover-color: rgba(0, 0, 0, 0.75);
    --bs-navbar-disabled-color: rgba(124, 86, 86, 0.25);
    --bs-navbar-active-color: #0f0e0e;
    --bs-navbar-brand-color: #252525;
    --bs-navbar-brand-hover-color: #373737;
    --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.container *{
    overflow-wrap: break-word !important;
    white-space: normal;
    word-break: keep-all;
}

.container p{
    font-size: clamp(1rem, 0.3333rem + 2.0833vw, 1.3rem);
}

.bg-body-tertiary{
    background: #f5ebe0;
    background: -webkit-linear-gradient(to bottom, #fdfcfb, #e2d1c3); 
    background: -moz-linear-gradient(to bottom, #fdfcfb, #e2d1c3);
    background: -o-linear-gradient(to bottom, #fdfcfb, #e2d1c3);
    background: linear-gradient(to bottom, #fdfcfb, #e2d1c3); 
}

@media(max-width:992px){
    .container{
        max-width: 600px;
    }
}


@media(max-width:768px){
    .lead{
        font-size: 1rem;
    }
    .background{
        height: auto;
    }
}
